/*************************** start of  smaller screen *******************/
@media only screen and (max-width: 690px) {

   .addModal {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: rgb(0, 0, 0, 0.7);
      z-index: 90000;
   }

   .addModalFirstChild {
      position: fixed;
      width: 100%;
      padding: 5px;
      top: 0px;
      left: 0px;
      z-index: 20000;
      color: black;
   }




   .addModalForm {
      text-align: center;
      position: fixed;
      width: 95%;
      padding: 5px;
      top: 15%;
      left: 2.5%;
      z-index: 20000;
      color: black;
      background-color: #78a7a6;
   } 


   /*  create button */
   .addBethelZones {
      font-size: 15px;
      padding: 2px 5px;
      background: #244f6c;
      border-radius: 6px;
      margin: 5px;
      color: white;
      cursor: pointer;
      width: 150px;
      display: inline-block;
   }
}




/*************************** start of  larger screen *******************/
@media only screen and (min-width: 690px) {
   .addModal {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: rgb(0, 0, 0, 0.7);
      z-index: 90000;
   }

   .addModalFirstChild {
      position: fixed;
      width: 80%;
      padding: 30px;
      top: 0px;
      left: 10%;
      z-index: 20000;
      color: black;
   }

   .addModalForm {
      background: #78a7a6;
      text-align: center;
      width: 60%;
      padding: 20px;
      margin-left: 20%;
      position: relative;
   }

   /*  create button */
   .addBethelZones {
      font-size: 15px;
      padding: 2px 5px;
      background: #244f6c;
      border-radius: 6px;
      margin: 5px;
      color: white;
      cursor: pointer;
      width: 150px;
      display: inline-block;
   }
}